
  <article>
    <h2 class="article-title"><a href="<%= post.url%>"><%= post.title %></a></h2>

    <ul class="meta">
      <li class="post-time"><time datetime="<%= post.published_at.strftime("%Y-%m-%d")%>"><%= post.published_at.strftime("%B %d, %Y")%></time></li>
      <li class="post-category">In: <%if post.category_id.blank?%>Uncategoried<%else%><a href="/categories/<%=post.category.name%>/posts"><%=post.category.name%></a><%end%></li>
      <% unless AppSettings.disqus_shortname.blank? %>
      <li class="post-comments"><a href="<%= post.url %>#disqus_thread" data-disqus-identifier="<%=post.id%>">Comments</a></li>
      <% end %>
      <% if admin? %>          
      <li>
      <a class="admin edit-post" href="/posts/<%=post.id%>/edit">Edit</a>
      <a class="admin del-post" href="/posts/<%=post.id%>" data-method="delete" data-confirm="are you sure?">Delete</a>
      </li>  
      <% end %>                      
    </ul> 
           
    <div class="output-html">
      <%= post.summary %>
    </div>
       
    <a href="<%= post.url %>">Continue reading &raquo;</a>      
    
  </article>