
<% if @posts.blank? %>
  <h1>There isn't any posts yet!</h1>
<% else %>
  <% @posts.each do |post| %>
    <article>
        <h2><a class="article-title" href="<%= post.url%>"><%= post.title %></a></h2>
        
        <ul class="meta">
          <li class="post-time"><time datetime="<%= post.created_at.strftime("%Y-%m-%d")%>"><%= post.created_at.strftime("%B %d, %Y")%></time></li>
          <li class="post-tags">Tags: <%= tag_links(post) %></li>
          <% unless AppSettings.disqus_shortname.blank? %>
          <li class="post-comments"><a href="<%= post.url %>#disqus_thread" data-disqus-identifier="<%=post.id%>">Comments</a></li>
          <% end %>
          <% if admin? %>          
          <li>
            <a class="admin edit-post" href="/posts/<%=post.id%>/edit">Edit</a>
            <a class="admin del-post" href="/posts/<%=post.id%>" data-method="delete" data-confirm="are you sure?">Delete</a>
          </li>  
          <% end %>                      
        </ul>        
        <section class="output-html">
          <%= post.short_body %>          
          <a href="<%= post.url %>">Continue reading &raquo;</a>          
        </section>   
    </article>
  <% end %>
  
  <ul class="pagination clearfix">
    <li class="left"><% if @has_next_page%><a href="/?page=<%=(params[:page]||1).to_i+1%>"> &laquo; Older Posts</a><%end%></li>
    <li class="right"><% if @has_previous_page%><a href="/?page=<%=(params[:page]||1).to_i-1%>">Newer Posts &raquo;</a><%end%></li>
  </ul>
<% end %>


<% unless AppSettings.disqus_shortname.blank? %>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '<%=AppSettings.disqus_shortname%>'; 

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    })();

</script>
<% end %>