<h2>Posts Tagged With: <span class="highlight"><%=params[:tag]%></span></h2>

<% if @posts.blank? %>
  <h1>There isn't any posts tagged with <%=params[:tag]%>!</h1>
<% else %>
  <% @posts.each do |post| %>
	<article>
		<h2><a class="article-title" href="<%= post.url%>"><%= post.title %></a></h2>

		<ul class="meta">
		  <li class="post-time"><time datetime="<%= post.created_at.strftime("%Y-%m-%d")%>"><%= post.created_at.strftime("%B %d, %Y")%></time></li>
		  <li class="post-tags">tags: <%= tag_links(post) %></li>
		</ul>        
		<section class="output-html">
		  <a href="<%= post.url %>">Continue reading &raquo;</a>
		</section>

	</article>
  <% end %>
<% end %>